<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<property name="LOGS_PATH" value="./logs" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{36}] - %m%n</Pattern>
		</encoder>
	</appender>
	<appender name="FILE_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_PATH}/server.%d{yyyyMMdd}-%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{36}] - %m%n</Pattern>
		</encoder>
	</appender>

	<turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
		<Name>LIFE_CYCLE_FILTER</Name>
		<Marker>LIFE_CYCLE</Marker>
		<OnMatch>ACCEPT</OnMatch>
	</turboFilter>

	<turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
		<Name>MESSAGE_FILTER</Name>
		<Marker>MESSAGE</Marker>
		<OnMatch>ACCEPT</OnMatch>
	</turboFilter>

	<turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
		<Name>DEV_FILTER</Name>
		<Marker>DEV</Marker>
		<OnMatch>ACCEPT</OnMatch>
	</turboFilter>

	<turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
		<Name>PROD_FILTER</Name>
		<Marker>PROD</Marker>
		<OnMatch>DENY</OnMatch>
	</turboFilter>

	<root>
		<level>TRACE</level>
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_ROLLING" />
	</root>
</configuration>